* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #000000;
    width: 100%; /* remove fixed 1368px */
    max-width: 1368px;
    margin: 0 auto;
    padding: 0; /* maintain height */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #EDEDED;
    max-height: 91px;
    width: 100%;
    max-width: 1368px;
    top: 0;
    position: fixed; 
}

.logo {
    display: flex;
    align-items: left;
    justify-content: left;
}

.logo img {
    max-width: 20%;
}
.menu {
    display: flex;
    align-items: center;
    gap: 70px;
}


.menu a {
  text-decoration: none;
  color: #091634;
  font-weight:600;
  font-style: normal;
}

.menu a.active {
  color: #165584;
  border-bottom: 2px solid #165584;
}

.flags {
    display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #165584;
  cursor: pointer;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 134, 154, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.hidden {
  display: none;
}

.menu-content {
  background: #FAFAFA;
  width: 390px;
  height: 844px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Ensure content is above the overlay */
}

.menu-header {
    width: 100%;
    display: flex;
}

.menu-close {
    margin-left: 260px;
    color: #165584;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
}


.cart-wrapper {
    width: 1268px;    
    margin: 91px auto 0 auto;      
    display: flex;
    flex-direction: column;
}

.cart-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.cart-table thead th {
    height: 40px;                  
    font-weight: 480;
    font-size: 15PX;
    color: #165584;
    text-align: center;
    vertical-align: middle;
  
}

.cart-table td {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1.5px solid #7E879B;
    font-weight: 500;
}


.cart-table td:nth-child(1) {
    width: 218px;
    height: 195px;

}

.cart-table td:nth-child(1) img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain; 
}

.cart-table td:not(:first-child) {
    width: 175px;
    height: 195px; 
}

.cart-table td:nth-child(4) {
    color: #165584;
}


.btn-contact{
    padding: 0.5rem;
    width: 75%;
    border: 2px solid #165584;
    color: #165584;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 999px;
}

.btn-purchase {
    padding: 0.5rem;
    background-color: #165584;
    border: 2px solid #165584;
    width: 75%;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 999px;
}

.btn-purchase-mobile {
    height: 50px;
    background-color: #165584;
    border: 2px solid #165584;
    width: 75%;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 999px;
}

.btn-remove {
    font-size: 1.5rem;
    color: #165584;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-remove-mobile {
    height: 50px;
    background-color: #fff;
    border: 2px solid #165584;
    width: 75%;
    color: #165584;
    cursor: pointer;
    font-weight: bold;
    border-radius: 999px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 134, 154, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.hidden {
  display: none;
}

.content1,
.content2,
.content3 {
  background: #FAFAFA;
  padding: 2rem;
  border-radius: 10px;
  width: 390px;
  height: 844px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.content1 {
    z-index: 20;
}

.content2 {
    z-index: 40;
}

.content3 {
    z-index: 60;
}


.purchase-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-logo img {
    width: 100px;
    height: auto;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 220px;
}

.close1,
.close2,
.close3 {
    color: #165584;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;
}

.header .text{
    font-size: 20px;
    font-weight: 450;
    color: #165584;
}

.symbol img{
    max-width: 100%;
    max-height: 100%;
}

/* Form styling */
.checkout-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

.name,
.address,
.country,
.city,
.state,
.phone,
.method,
.card-number,
.holder-name,
.complete {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    color: #091634;
    font-weight: 350;
}

.date-cvv {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    color: #091634;
    font-weight: 350;
}


.checkout-form input {
    padding: 0.5rem;
    font-style: italic;
    color: #707070;
    background-color: #FAFAFA;
    border-top: #FAFAFA;
    border-left: #FAFAFA;
    border-right: #FAFAFA;
    border-bottom: #707070 2px solid;
}

.checkout-form button,
.continue3 {
    margin-top: 100px;
    padding: 0.6rem;
    border: 2px solid #165584;
    background: #ffffff;
    color: #165584;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
}

.cart-wrapper-mobile {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.mobile-cart-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.mobile-cart-item img {
    width: 220px;
    max-height: 170px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}



.mobile-cart-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    padding: 0.5rem;
    margin-left: 0px;
    margin-right: -10px;
    margin-top: 55px;
}




@media (max-width: 390px) {

    .content a {   
        display: block;         
        margin-left: 200px;
        height: 50px;
    }

    .body,
    .content-wrapper,
    .labels,
    .cover {
        max-width: 390px;
        max-height: 844px;
    }

    .navbar {
        padding: 0;
        height: 70px;
        max-width: 390px;
    }

    .logo {
    margin-left: 15px;
    }

    .logo img {
        max-width: 30%;
    }

    .flags {
        display: block;
        margin-right: 30px;
    }

    .menu {
        display: none;
    }

    .overlay {
        background-color: white;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem;
    }

    .overlay .menu-content {
        width: 100%;
        height: auto;
        padding: 2rem;
        background: #ffffff;
        border: none;
        box-shadow: none;
        font-size: 1.2rem;
        gap: 1rem;
    }

    .overlay .menu-content a {
        color: #165584;
        text-decoration: none;
        display: block;
        margin-left: 90px;

        margin-top: 50px;
    }

    .menu-close {
        display: block;
        margin-top: 0px;
        margin-left: 230px;
        font-size: 1.5rem;
    }

    .cart-wrapper {
        display: none;
    }
  
    .cart-wrapper-mobile {
        display: flex;
    }

    .content1,
    .content2,
    .content3 {
    padding: 0rem;
    }
}
